@import 'theme.scss';

body {
	margin: 0%;
}

.actionbar-fillcenter {
	flex: 1 1 auto;
}
i.bds-facebook {
	color: #3b5998;
}
i.bds-youtube {
	color:#bb0000;
}
i.bds-twitter {
	color:#55acee;
}
i.bds-instagram {
	color:#e95950;
}
i.bds-g-plus {
	color:#d34836;
} 
#bg-img {
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#bg-img mat-card {
	margin-left:15%;
	margin-right:15%;
	margin-top:64px;
}
