<mat-toolbar layout="row" fxFlex="100" id="actionbarContainer" class="mat-primary" >
    <button mat-icon-button (click)="toggleNav()" aria-label="Menu">
        <i class="material-icons">menu</i>
    </button>
    <h3>{{ title }}</h3>
    <span class="actionbar-fillcenter"></span>
    <div>
        <button mat-mini-fab aria-label="Open Search">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Open Filters">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>    
    <button mat-mini-fab aria-label="More Settings" style="margin-left:6px;" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="themes">Select a theme...</button>
    </mat-menu>
    <mat-menu #themes="matMenu">
        <button mat-menu-item *ngFor="let theme of menuThemes" (click)="changeThemeTo(theme)">{{ theme }}</button>
    </mat-menu>
</mat-toolbar> 
