<mat-toolbar layout="row" fxFlex="100" id="actionbarContainer" color="primary" >
    <button mat-icon-button (click)="toggleNav()" aria-label="Menu">
        <i class="material-icons">menu</i>
    </button>
    <h3>The Playground!</h3>
    <span class="actionbar-fillcenter"></span>
    <div>
        <button mat-mini-fab aria-label="Open Search">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Open Filters">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>    
    <button mat-mini-fab aria-label="More Settings" style="margin-left:6px;" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div layout="column" class="themeSelector">
            <h4>Select a theme...</h4>
            <div *ngFor="let theme of menuThemes">
                <button mat-button (click)="changeThemeTo(theme)">{{ theme }}</button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar> 
