<div>
    <mat-card-title> {{ title }} </mat-card-title>

    <mat-card-content>The Washington Department of Fish and Wildlife (WDFW) is dedicated to preserving, protecting and perpetuating the state’s fish and wildlife resources. The department operates under a dual mandate from the Washington Legislature to:</mat-card-content>
    <mat-list>
        <mat-list-item>
                <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                <h4>Protect and enhance fish and wildlife and their habitats.</h4>
        </mat-list-item>
        <mat-list-item>
                <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                <h4>Provide sustainable, fish- and wildlife-related recreational and commercial opportunities.</h4>
        </mat-list-item>
    </mat-list>
        <mat-card-content>Department policy is guided by the <a href="/commission/">Washington Fish and Wildlife Commission</a> composed of nine citizen members appointed by the Governor. Department operations are led by a <a href="/about/director/index.html">Director</a> and an Executive Management Team. The Director is appointed by the Fish and Wildlife Commission.</mat-card-content>
        <mat-card-content>The department is headquartered in Olympia and operates six <a href="/about/regions/index.html">regional offices</a> throughout the state.</mat-card-content>
        <mat-card-content align="center"><img src="https://wdfw.wa.gov/about/regions/graphics/regional_map.gif" alt="WDFW Regions" width="300" height="213" hspace="5" vspace="5" border="0" usemap="#MapMap">
                <map name="MapMap">
                        <area shape="poly" coords="220,2,220,62" href="#" alt="">
                        <area shape="poly" coords="219,80,214,116,257,116,256,125,256,136,247,147,250,150,250,156,242,156,236,157,235,162,231,165,224,172,220,177,219,188,298,188,297,163,292,151,287,14,219,17" href="/about/regions/region1" alt="Eastern - Region 1">
                        <area shape="poly" coords="219,0" href="#" alt="">
                        <area shape="poly" coords="134,83" href="#" alt="">
                        <area shape="poly" coords="1,30" href="#" alt="">
                        <area shape="poly" coords="2,30" href="#" alt="">
                        <area shape="poly" coords="37,154" href="#" alt="">
                        <area shape="poly" coords="55,1" href="#" alt="">
                        <area shape="poly" coords="146,15,218,15,217,71,212,115,214,119,255,117,255,134,245,144,202,146,196,146,189,151,182,151,184,144,181,132,179,123,178,117,170,115,160,114,152,107,142,104,137,96,138,89,138,82,135,77,141,72,143,63,138,56,140,48,146,47,153,44,154,32" href="/about/regions/region2" alt="North Central - Region 2">
                        <area shape="poly" coords="136,98,140,106,151,110,161,117,176,118,177,129,178,140,178,148,181,152,191,153,198,149,242,146,245,153,236,155,231,161,221,172,215,176,218,187,204,191,192,192,187,196,184,185,120,184,120,165,125,165,124,156,128,148,122,137,128,126,129,116,123,109" href="/about/regions/region3" alt="South Central - Region 3">
                        <area shape="poly" coords="54,16,142,15,148,33,148,41,141,45,135,54,135,60,140,67,134,73,130,77,134,94,120,109,120,114,126,121,122,125,110,121,96,119,93,116,85,113,82,95,87,80,80,74,71,61,62,50,54,34" href="/about/regions/region4" alt="North Puget Sound - Region 4">
                        <area shape="poly" coords="2,46,24,59,41,63,55,64,63,63,72,65,81,78,81,94,81,111,84,116,123,128,121,142,111,143,104,145,61,142,58,140,47,141,48,163,34,164,34,169,21,169,6,78,3,62" href="/about/regions/region6" alt="Coastal - Region 6">
                        <area shape="poly" coords="36,165,50,164,50,143,101,147,111,146,121,145,122,153,121,163,117,166,117,184,120,187,182,187,183,196,171,205,158,207,142,208,131,210,119,206,109,206,100,210,72,210,68,200,64,186,56,178" href="/about/regions/region5" alt="Southwest - Region 5">
                </map>
        </mat-card-content>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-title>Washington Department of Fish and Wildlife</mat-card-title>
        <mat-card-subtitle>A Brief History</mat-card-subtitle>
        <mat-list>
                <mat-list-item>
                        <h4 mat-line><strong>March 1890 </strong></h4>
                        <p mat-line>The first Fish Commissioner was James Crawford, appointed by Governor Elisha Ferry</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1891</strong></h4>
                        <p mat-line>State Legislature appropriated funds for a salmon hatchery.</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1895</strong></h4>
                        <p mat-line>The first salmon hatchery was built and dedicated in 1895 on the Kalama River.</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1915</strong></h4>
                        <p mat-line>Legislature passed a new Game and Game-Fish Code that provided for a Chief Game Warden and a Fish Commissioner both managed under Chief Game Warden L. H. Darwin, Department of Fish and Game</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1921</strong></h4>
                        <p mat-line>Legislature abolished the Fish Commission and replaced it with a Department of Fisheries with a Division of Fisheries and a Division of Game and Game Fish.</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1932</strong></h4>
                        <p mat-line>An initiative separated food fish and game fish and created a Department of Fisheries (food fish) under an appointed Director and a Department of Game (game fish) under a six member commission.<</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1987</strong></h4>
                        <p mat-line>Legislature changed Department of Game, with a Commission-appointed director, to Department of Wildlife with a Director appointed by the Governor.</p>
                </mat-list-item>
                <mat-list-item>
                        <h4 mat-line><strong>1994</strong></h4>
                        <p mat-line>Legislature merged Department of Wildlife and Department of Fisheries, creating Department of Fish and Wildlife (WDFW).&nbsp; WDFW has a 9-member Commission and the WDFW Director is appointed by the Commission.</p>
                </mat-list-item>
        </mat-list>
</div>